<section class="game">
  <div class="header">
    <h1>Mad Minute Math</h1>
    <p>Hello <strong>Lilybug</strong>, I built this Math game for you :)</p>
    <%= button_to "New Game", root_path, method: :get%>
  </div>

  <div class="content">
    <div class="grid-container">
      <div class="label">x</div>
      <div class="label">3</div>
      <div class="label">7</div>
      <div class="label">4</div>
      <div class="label">8</div>
      <div class="label">2</div>
      <div class="label">9</div>
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <div class="label">5</div>
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <div class="label">2</div>
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <div class="label">8</div>
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <div class="label">6</div>
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
      <input class="answer" type="text">
    </div>
  </div>
</section>
