<div class="container-md">
  <h1>Hello and welcome to Mad Minute Math</h1>
  <p>Please enter your player name</p>

  <%= form_with(model: @player, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="actions">
    <%= form.submit "Create Player" %>
  </div>
  <% end %>
</div>
