// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body section.game {
  height: 100vh;
  
  
  .header {
    text-align: center;
    
  }
  
  .gameEvent {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    width: 100%;

    .button-menu {
      width: 150px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    
    .grid-container {
      padding: 25px 100px 100px 100px;
      height: 60%;
      margin: 0px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(6, 70px);
      grid-template-rows: repeat(6, 70px);
    }
  
    .grid-container {
      .label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 40px;
      }
      
      .answer {
        text-align: center;
        font-size: 40px;
        color: black;
      }
      
      .answer-correct {
        color: green;
      }
      
      .answer-incorrect {
        color: red;
      }
    }

    .highscores {
      width: 400px;
      justify-content: right;
    }
  }
}
